.App {
  text-align: center;
  height:100vh;
  display:flex;
}

.App .col {
  display:flex;
  height:100%;
  flex-direction: column;
}

.App .col.W-20 {
  width: 20%;
}
.App .col.W-80 {
  width:80%;
}
